/** CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset <3 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/** Styles */
body {
  font-family: var(--font-mono);
  font-feature-settings: 'liga', 'clig', 'calt';
  font-variant: common-ligatures contextual;
  letter-spacing: -0.01em;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.15rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p,
pre {
  margin-bottom: 0.75rem;
  max-width: 100%;
}

a {
  color: #888;
  text-decoration: underline solid currentColor;
  text-underline-position: from-font;
  text-decoration-thickness: from-font;
}

a:hover {
  color: #333;
}

code {
  font-family: var(--font-mono);
  letter-spacing: 0;
  border-radius: 3px;
  font-size: 0.95em;
}

pre {
  display: inline-block;
  border-radius: 3px;
  width: 600px;
  max-width: 100%;
  white-space: pre-wrap;
}

pre code {
  background: none;
  border-radius: 0;
}

footer {
  padding-top: 1rem;
  border-top: 1px solid #ddd;
  max-width: 100%;
}

ul {
  padding-left: 1rem;
}

li {
  list-style: '•  ';
}

/* Customized */

.root {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

nav,
main {
  padding: 0 0.5rem;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.code-block {
  background-color: #f4f4f4;
  padding: 16px 1rem;
}

.code-block code {
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* width: 600px; */
  max-width: 100%;
  overflow-x: auto;
  color: #507a99;
}

.code--inline {
  color: #507a99;
}

.link {
  line-height: 3rem;
  vertical-align: bottom;
}

p > code {
  background-color: #ecf3f5;
}

.blur-mirror {
  overflow: hidden;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.blur-mirror-color {
  background-image: linear-gradient(
    to right,
    rgba(173, 208, 255, 0.46),
    /* blue-100 / 10 */ rgba(147, 197, 253, 0.6),
    /* blue-300 / 60 */ rgba(59, 130, 246, 1),
    /* blue-500 */ rgba(253, 224, 71, 1),
    rgba(253, 224, 71, 0.3),
    /* yellow-300 */ rgba(253, 224, 71, 0.1) /* yellow-100 / 20 */
  );
}
