name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  install_and_test_win:
    runs-on: windows-latest
    timeout-minutes: 5
    strategy:
      matrix:
        node-version: [20]

    name: Windows - Node ${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Typecheck
        run: pnpm typecheck

      - name: Build
        run: pnpm build

      - name: Test
        shell: cmd
        run: |
          pnpm test || exit /b 1
          pnpm test:post || exit /b 1

  install_and_test:
    runs-on: [ubuntu-latest]
    timeout-minutes: 5
    strategy:
      matrix:
        node-version: [20, 22]

    name: Linux - Node ${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Typecheck
        run: pnpm typecheck

      - name: Build
        run: pnpm build

      - name: Test
        run: |
          pnpm test
          pnpm test:post

  release:
    runs-on: ubuntu-latest
    needs: [install_and_test]
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4.2.2

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Determine tag
        id: determine_tag
        run: |
          echo "tag=$(echo $GITHUB_REF | grep -Eo 'alpha|beta|rc')" >> $GITHUB_OUTPUT

      - name: Publish to versioned tag
        if: steps.determine_tag.outputs.tag != ''
        run: |
          echo "Publishing to ${{ steps.determine_tag.outputs.tag }} tag"
          pnpm publish --tag ${{ steps.determine_tag.outputs.tag }} --no-git-checks --provenance --access public

      - name: Publish to latest
        if: steps.determine_tag.outputs.tag == ''
        run: |
          echo "Publishing to latest"
          pnpm publish --no-git-checks --provenance --access public
